.demo-exp-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.demo-exp-section .demo-exp-div {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
  background: #001436;
}

.demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  width: 100%;
}

.square {
  height: 50px;
  width: 50px;
  display: inline-block;
  background: #fff;
}

.square-number {
  font-size: 24px;
  color: #fff;
}

.anim-object {
  width: 140px;
  height: 140px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-70px) rotateX(50deg);
          transform: translateZ(-70px) rotateX(50deg);
  display: block;
  z-index: 905;
  -webkit-animation: 5s cubic-bezier(0.29, 0.43, 0.68, 0.53) 0s infinite normal both running rotate-90-vertical-bck;
          animation: 5s cubic-bezier(0.29, 0.43, 0.68, 0.53) 0s infinite normal both running rotate-90-vertical-bck;
}

.anim-object .face {
  display: block;
  position: absolute;
  width: 140px;
  height: 140px;
  opacity: 0.6;
  background-color: #fff !important;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-box-shadow: 0 0 20px 10px #ffffff2e;
          box-shadow: 0 0 20px 10px #ffffff2e;
  border-radius: 24px;
}

.anim-object .face .text {
  color: #222;
  font-size: 50px;
  text-align: center;
  position: absolute;
  width: 100%;
  line-height: 140px;
}

.anim-object .front {
  -webkit-transform: rotateY(0deg) translateZ(70px);
          transform: rotateY(0deg) translateZ(70px);
  background: red;
}

.anim-object .front .text {
  font-size: 50px;
}

.anim-object .back {
  -webkit-transform: rotateY(180deg) translateZ(70px);
          transform: rotateY(180deg) translateZ(70px);
  background: green;
}

.anim-object .back .text {
  font-size: 70px;
}

.anim-object .left {
  -webkit-transform: rotateY(-90deg) translateZ(70px);
          transform: rotateY(-90deg) translateZ(70px);
  background: #87870a;
}

.anim-object .left .text {
  font-size: 80px;
}

.anim-object .right {
  -webkit-transform: rotateY(90deg) translateZ(70px);
          transform: rotateY(90deg) translateZ(70px);
  background: #00f;
}

.anim-object .right .text {
  font-size: 60px;
}

.anim-object .top {
  -webkit-transform: rotateX(360deg) translateZ(70px);
          transform: rotateX(360deg) translateZ(70px);
  background: violet;
}

.anim-object .bottom {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(270deg) translateZ(100px) rotate(180deg);
          transform: scale3d(0.8, 0.8, 0.8) rotateX(270deg) translateZ(100px) rotate(180deg);
  background: orange;
}

@-webkit-keyframes rotate-90-vertical-bck {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

@keyframes rotate-90-vertical-bck {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}
/*# sourceMappingURL=custom-anime-style.css.map */